/* --------------------------------------------------------- */
/* general */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
  }

.box {
    margin-top: 30px;
}

.container {
    display: flex;
    align-items: top;
    max-width: 960px;
    margin: 0 auto;

    min-height: 600px;
}
/* --------------------------------------------------------- */



/* --------------------------------------------------------- */
/* personal */
.personal {
    display: flex;
    flex-direction: column;

    margin-right: auto;
    padding-left: 20px;

    width: 35%;
    background-color: #435d87;
    color: #ffffff;
}

/* --------------------------------------------------------- */
/* professional */
.professional {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    width: 65%;
    background-color: lightgray;
}